.logo {
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: center;
}
.banner {
  width: 100%;
  background-color: beige;
  text-align: center;
  border-top: 2px solid orange;
}
main {
  width: 80%;
  margin: 0 auto 0 auto;
}
.photo {
  border-radius: 1.5%;
}

.collegamento {
  border-left: 2px solid orange;
  padding-left: 30px;
}
