header {
  height: 100%;
  width: 80%;
  margin: 0 auto 0 auto;
  text-align: center;
}

.logo {
  width: 25%;
  min-width: 120px;
  margin: 0 auto 0 auto;
}
.banner {
  width: 100%;
  background-color: beige;
  text-align: center;
  border-top: 2px solid orange;
}
main {
  width: 80%;
  margin: 0 auto 0 auto;
}
.photo {
  border-radius: 1.5%;
  width: 100%;
}

.collegamento {
  border-left: 2px solid orange;
  padding-left: 10px;
}
.didascalia-foto {
  color: grey;
  text-align: center;
  margin-top: 0;
}

hr {
  color: grey;
}
